#wrapper{
    margin: 0 auto;
    width: 900px;
}
#header{
    border: 1px solid black;
    height: 202px;
}
#main{
    border: 1px solid black;
    height: 402px;
   
}
#footer{
    border: 1px solid black;
    height: 202px;
}