#wrapper{
    border: 1px solid black;
    width: 1000px;
    margin: 0px auto;
    padding: 40px;
} 
.left{
    float: left;
}
.right{
    float: right;
}
#header{
    outline: none;
}
#header .left{
    width: 200px;
    height: 200px;
}
#header .center{
    width: 520px;
    height: 200px;
    margin: 0px 240px;
}
#header .right{
    width: 200px;
    height: 200px;
}
#middle{
    outline: none;
}
#middle .left{
    width: 200px;
    height: 500px;
}
#middle .center{
    width: 520px;
    height: 500px;
    margin: 0px 240px;
}
#middle .right{
    width: 200px;
    height: 500px;
}
#footer{
    outline: none;
    margin: 0;
}
#footer .left{
    width: 200px;
    height: 200px;
}
#footer .center{
    width: 520px;
    height: 200px;
    margin: 0px 240px;
}
#footer .right{
    width: 200px;
    height: 200px;
}
div{
    display: block;
    outline: 1px solid black;
    margin-bottom: 40px;
}
.clearfix{
    clear: both;
}