#wrapper{
    margin: 0 auto;
    width: 1000px;
    border: 1px solid black;
}
#header{
    border: 1px solid black;
    height: 200px;
    margin-bottom: 20px;
}
#left{
    outline: 1px solid black;
    width: 200px;
    height: 500px;
    float: left;
}
#main{
    outline: 1px solid black;
    width: 560px;
    height: 500px;
    margin: 0 220px;
}
#right{
    outline: 1px solid black;
    width: 200px;
    height: 500px;
    float: right;
}
#footer{
    border: 1px solid black;
    height: 200px;
    margin-top: 20px;
}

.clearfix{
    clear: both;
}