 body{
        background: linear-gradient(to right, #FF69B4, #8A2BE2);
        display: flex;
        justify-content: center;
     align-items: center;
}
main{
    
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 2%;
}

.p-main{
    display: block;
    width: 300px;
   
    }    
.h1-main{
    }
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;

}
#first-part{
    width: 40%;

}

#second-part{
    text-align: center;
   width: 40%;
}
