main{
    padding: 50px 250;
}
h1{
    text-align: center;
    font-family: 'Laila', serif;
}
.intro{
    padding: 10px;
    border: 2px solid black;
    width: 150px;
    background-color: #CCB31E;
}
.fsubjects{
    border: 2px solid black;
    padding: 10px;
    width: 500px;
    margin-left: 180px;
    margin-top: -305px;
    background-color: #FFDF26;
}
.hsubjects{
    border: 2px solid black;
    margin-left: 180px;
    padding: 10px;
    width: 120px;
    margin-top: 10px;
    background-color: #FFE75D;
}
p{
    font-family: 'Raleway', sans-serif;
}


